*{

}
h1 {
	color: white;
}
.contaier-fluid {
	background-color: #F5BC1B;
}
.header {
	padding: 10px;
	padding: 10px 10px;
}
.logo {
	margin-left: 10%;
}
.header_contact {
	margin-top: -10px;
	color: white;
	margin-right: 2%;
}

/*   body css  */

.body {
	background-image: url('body_img.png');
	background-size: 100%;
	height: 100vh;
	width: 100%;
	 
}
.body_main {
	position: absolute;
	min-height: 80%;
	width: 80%;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.9);
	border-radius: 10px;
	margin-left: 10%;
	margin-top: 3%;
}
 
.body_main_text {
	position: relative;
	min-height: 60vh;
	width: 100%;
}

.cal_savings {

	text-decoration: none;
	color: white;
	padding: 15px;
	background-color: #F5BC1B;
 	border-radius: 10px;
	word-wrap: break-word;
	width: 50%;
	margin: 0 auto;
	font-family: "BebasNeueRegular";
}
 

@media screen and (max-width: 840px) {
	 .cal_savings {
	 	width: 80%;
	 	font-size: 120%;
	 }
}

.cal_start {
	height: 20%;
	width: 100%;
	background-image: url("solar.png");
	background-size: 100% 200px;
	height: 200px;
}

.cal_start h1 {
	padding-bottom: 0px;
	color: white;
	padding-top: 50px;

}
.cal_start h3 {
	color: white;
	margin-top: -10px;
}

/*    step 1    */

.step1 {
	background-color: #F6E6BA;
}
.step1 h2 {
	color: black;
}

.calculate_but {
	background-color: orange;
 	box-shadow: 0px 0px 5px grey;
	color: black;
	width: 200px;
	padding: 7px 29px;
}
